{% extends 'base/base.html' %}

{% block content %}
 	<h4 class="mt-5">Lista de todas las tareas actuales y su estatus</h4>
{% if lista_tareas %}
<table class="table table-bordered table-hover table-sm" width="100%">
	<thead class="thead-dark">
	<tr>
		<th width="40%">Tareas</th>
		<th width="30%">Descripción</th>
		<th width="20%">Estatus</th>
		<th width="10%">Acciones</th>
	</tr>
	</thead>
	<tbody>
		{% for row in lista_tareas %}
		<tr>
			<td>{{ row.nb_tarea }}</td>
			<td>{{ row.tx_descripcion }}</td>
			{% if row.co_estatus == 1 %}
			<td><label class="text text-info">Pendiente</label></td>
			{% else %}
			<td><label class="text text-success">Aprobado</label></td>
			{% endif %}
			{% if row.co_estatus == 1 %}
			<td><a href="{% url 'tareas:nombre_aprobar_tareas' row.id%}" class="btn btn-success">Aprobar</a></td>
			{% endif %}

		</tr>
		{% endfor %}

	</tbody>

</table>
{% else %}

		<h5>Sin registro de tareas</h5>

		{% endif %}



{% endblock %}