{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}">
	<meta charset="utf-8">
	<title>{% block title %} Mini proyecto Tareas {% endblock %}</title>
</head>
<body>
	<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Miniproyecto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin:index' %}">Administracion <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tareas:nombre_tareas_listar' %}">Todas las tareas</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'tareas:nombre_tareas_form' %}">Nueva Tarea</a>
      </li>
    </ul>

  </div>
</nav>

	<div class="container">
	<div class="row">
	{% block content %}
	<h5>Bievenido a miniproyecto de prueba</h5>
	</div>
	<div class="row">
	<ul>
		<li>Framework: Django</li>
		<li>Lenguajes: Python 3.5</li>
		<li>Base de datos: Postgresql</li>
		<li>Bootstrap 4.0</li>
	</ul>
	{% endblock %}

		</div>
	</div>

	<footer>
		<small>Mini aplicacion de prueba sencilla desarrollada por Isaac Betancourt.</small>
	</footer>


	</div>

</body>
</html>

<script src="{% static 'jquery/jquery-1.11.2.min.js'%}"></script>
<script src="{% static 'bootstrap-4.0.0/js/bootstrap.min.js'%}"></script>
