{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}">
	<meta charset="utf-8">
	<title>{% block title %} Mini proyecto Tareas {% endblock %}</title>
</head>

  <body class="d-flex flex-column h-100">
    <header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Mini proyecto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">Administracion de Django </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tareas:nombre_tareas_listar' %}">Tareas </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tareas:nombre_tareas_form' %}">Nueva Tarea </a>
        </li>
      </ul>
    </div>
  </nav>
</header>


<main role="main" class="flex-shrink-0" style="margin-top:2%">
  <div class="container">

  	{% block content %}
    <h4 class="mt-5">Bievenido a miniproyecto de prueba</h4>
    <p class="lead">Bienvenido al miniproyecto de prueba realizado por Isaac Betancourt.</p>
    <p>Relizado bajo las tecnologías:</p>

    <ul>
		<li>Framework:  <code>Django</code> </li>
		<li>Lenguajes: <code>Python 3.5</code> </li>
		<li>Base de datos: <code>Postgresql</code> </li>
		<li>Plantilla de diseño: <code>Bootstrap 4.0</code></li>
	</ul>
    
   {% endblock %}
  </div>
</main>




<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Miniaplicación realizada bajo el framework de Django sin usa de javascript,
	solo se utilizó el puro manejador y recursos de Django para esta prueba.</span>
  </div>
</footer>


</body>
</html>

<script src="{% static 'jquery/jquery-1.11.2.min.js'%}"></script>
<script src="{% static 'bootstrap-4.0.0/js/bootstrap.min.js'%}"></script>
